# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env

# IDE / Editor Settings
.vscode/
.idea/
*.swp
*.swo

# Project Specific
.DS_Store
# results/  # Uncomment if you do NOT want to commit evaluation data
